image: toolhippie/goswagger:latest
manifests:
  -
    image: toolhippie/goswagger:amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: toolhippie/goswagger:arm64v8
    platform:
      architecture: arm64
      os: linux
      variant: v8
  -
    image: toolhippie/goswagger:arm32v6
    platform:
      architecture: arm
      os: linux
      variant: v6
